body {
  font-family: 'Times New Roman', Times, serif;
  
  background-color: rgba(220, 220, 220, 0.808);
  display: flex;
  flex-direction: row;
  
}

#panelInputCabecera{
  align-items: center;
  font-weight: bolder;
  border: solid;
  border-color: black;
  border-width: 5px;
}


.nav{
  background-color:grey;
  border-radius: 8px;
  margin: 3px;
}

.navCabecero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: aliceblue;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 20px;
  }

.nav div{
  cursor: pointer;   
}



.nav-list{
  padding: 10px;
  margin:0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;

}

.nav-list-item{
  background:
  linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
border-radius: 4px;
text-align: center;
list-style: none;
justify-items: center;
overflow: hidden;
}

.nav-list-item-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

.nav-list-item-button:hover{
  background-color: blanchedalmond;
  }

  
.arrow .flecha{
  transform: rotate(90deg);
  }
.flecha{
      transition: transform 0.3s;
  }

  .nav-list-item-button:hover{
    background-color: blanchedalmond;
    }

    .nav-list-item-show {
            
      height: 0px;
      margin-right: 10px;
      margin-bottom: 0px;
      width: 100%;
      align-items: left;
      padding: left 0px;
      align-items:left;
      transition: height 0.5s;
      height: 0px;
      }

.activo {
      transition: height 0.5s;
      height:200px;
      }

.nav-list-item-show div{
  background-color: white;
  margin: 2px;
  margin-right: 5px;
  width: 100%;
  height: min-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }

.nav-list-item-show div:hover{
  background-color: rgba(255, 255, 255, 0.568);
  }


  .panelInterior {
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 8px;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.panel {
  background-color:grey;
  border-radius: 8px;
  margin: 0px;
  margin-left: 5px;
  width: 100%;
  max-width: 1100px;
}

.panel div{
  background-color: rgba(255, 255, 255, 0.836);
}

.panelTxt {
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 8px;
  margin: 5px;
  padding: 0px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.panelTxt p{
    
  margin: 5px;
  padding: 0px;

}



.panelTxt .input{
  background-color: white;
  min-height: 300px;
  width:auto;
  padding: 0px;
  margin: 5px;
  border-radius: 4px;
  font-size: 15px;
}


.btn{
  background: white;
  border-radius: 4px;
  margin: 5px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0px;
  box-shadow: 2px 2px 4px;
  width: auto;
  padding: 10px;
  font-weight: bolder;

}


.btnSiguiente{
background-color: lightgreen;
  border: solid;
  border-color: green;

}